.three h1{border: solid ;
    border: solid 10px aqua;
    text-align: center;
    margin: 30px  20px 5px 2opx;
    padding: 50px 20px 5px 20px

}
.two{
    border: solid 10px darkolivegreen;
    margin: 20% 20%;
    width: 40%;
    padding: 50px 20px 5px 20px;

}
.one{
    border: solid 10px red;

    padding: 50px 20px 5px 20px;

}
body{
    width: 50%;

    margin-left: 20%;
}
header{
    text-align: center;
}
